/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff"), url("../fonts/raleway-v28-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v28-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-v28-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-500.woff2") format("woff2"), url("../fonts/raleway-v28-latin-500.woff") format("woff"), url("../fonts/raleway-v28-latin-500.ttf") format("truetype"), url("../fonts/raleway-v28-latin-500.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/raleway-v28-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-900.woff2") format("woff2"), url("../fonts/raleway-v28-latin-900.woff") format("woff"), url("../fonts/raleway-v28-latin-900.ttf") format("truetype"), url("../fonts/raleway-v28-latin-900.svg#Raleway") format("svg"); /* Legacy iOS */
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

abbr[title] {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --header-border-color: #ececec;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-btn-active-color: #188ce8;
  --white-text-color: #ffffff;
  --active-button-text-color: #ffffff;
  --whatwedo-overlay-bg-color: rgba(47, 48, 58, 0.8);
  --card-bg-color: #ffffff;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --hero-reserv-bg-color: #c4c4c4;
  --unactive-button-bg-color: #f5f4fa;
  --footer-address-secondary-color: rgba(255, 255, 255, 0.6);
  --main-black-color: #000000;
  --portfolio-card-border-color: #eeeeee;
  --unactive-svg-color: #afb1b8;
  --unactive-footer-svg-bg-color: rgba(255, 255, 255, 0.1);
  --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.outline-remover {
  outline: inherit;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .mobile-no-scroll {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 1.1666666667;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.logo__accent--color-dark {
  color: var(--main-black-color);
}
.logo__accent--color-light {
  color: var(--white-text-color);
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--main-transition);
  background-color: var(--accent-color);
  color: var(--active-button-text-color);
  box-shadow: 0px 4px 4px hsla(0deg, 0%, 0%, 0.15);
  border-radius: 4px;
}
.button--icon-owner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.button:hover {
  background-color: var(--main-btn-active-color);
}
.button:focus {
  background-color: var(--main-btn-active-color);
}

.button__icon {
  fill: var(--active-button-text-color);
}

.cardset {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  line-height: 1.2222222222;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--main-transition), background-color var(--main-transition);
  background-color: transparent;
  fill: currentColor;
}
.socials__item:not(:first-child) .socials__link--no-icon::before {
  content: "";
  width: 1px;
  height: 22px;
  background-color: var(--primary-text-color);
  margin-right: 10px;
}
.socials__link--icon-owner {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.socials__link--icon-owner:hover {
  color: var(--active-button-text-color);
  background-color: var(--accent-color);
}
.socials__link--icon-owner:focus {
  color: var(--active-button-text-color);
  background-color: var(--accent-color);
}
.socials__link--frame-none {
  color: var(--unactive-svg-color);
  background-color: transparent;
}
.socials__link--frame-grey {
  color: var(--white-text-color);
  background-color: var(--unactive-footer-svg-bg-color);
}

.form__fieldset {
  margin-bottom: 20px;
}

.form__item:not(:last-child) {
  margin-bottom: 10px;
}

.form__agreement {
  margin-bottom: 30px;
}

.form__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-item__name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-item__wrap {
  position: relative;
}

.form-item__field {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 42px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--main-transition);
}
.form-item__field--type-textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}
.form-item__field:focus {
  border-color: var(--accent-color);
}

.form-item__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%) scale(1);
  transition: fill var(--main-transition);
}
.form-item__field:focus + .form-item__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .agreement {
    padding-left: 14px;
  }
}

.agreement__label {
  position: relative;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .agreement__label {
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
}

.agreement__text {
  margin-left: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.agreement__link {
  color: var(--accent-color);
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.agreement__checkbox-engine {
  top: 7%;
  left: 2.5px;
  transform: translate(0, -50%) scale(1);
  width: unset;
  height: unset;
}
@media screen and (min-width: 480px) {
  .agreement__checkbox-engine {
    top: 57%;
    left: 2.5px;
    transform: translate(0, -50%) scale(1);
  }
}

.agreement__checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: color var(--main-transition);
}
@media screen and (min-width: 480px) {
  .agreement__checkbox-icon {
    top: 50%;
    transform: translateY(-50%);
  }
}
.agreement__checkbox-icon--checked {
  background-color: var(--accent-color);
  border-color: #ffffff;
  border-radius: 2px;
  fill: currentColor;
  color: var(--white-text-color);
}
.agreement__checkbox-engine:not(:checked) ~ .agreement__checkbox-icon--checked {
  opacity: 0;
}
.agreement__checkbox-icon--unchecked {
  fill: currentColor;
  color: var(--title-text-color);
}
.agreement__checkbox-engine:checked ~ .agreement__checkbox-icon--unchecked {
  opacity: 0;
}
.agreement__checkbox-engine:focus ~ .agreement__checkbox-icon--unchecked {
  color: var(--accent-color);
}

.page-body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-body__main {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .page-body__main {
    padding-top: 80px;
  }
}

.page-body__header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.page-body__hero-section {
  padding-top: 0;
  padding-bottom: 0;
}

.page-body__what-we-do-section {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .page-body__what-we-do-section {
    display: block;
  }
}

.page-body__team-section {
  background-color: var(--secondary-bg-color);
}

.page-body__backdrop {
  z-index: 3;
}

.section__title {
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}

.title {
  color: var(--title-text-color);
}

.header {
  width: 100vw;
  border-bottom: solid 1px;
  background-color: var(--main-bg-color);
  border-color: var(--header-border-color);
}

.header__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.header__menu-switcher {
  z-index: 5;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-switcher {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: currentColor;
  cursor: pointer;
  transition: color var(--main-transition);
}
.menu-switcher:hover {
  color: var(--accent-color);
}
.menu-switcher:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-switcher {
    display: none;
  }
}

.menu-switcher__icon {
  transition: opacity 100ms 100ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-switcher__icon--close {
  transform: rotateZ(0deg);
  transform-origin: 50%;
  opacity: 0;
}
.menu-switcher.is-open .menu-switcher__icon--close {
  transform: rotateZ(90deg);
  opacity: 100%;
}
.menu-switcher__icon--open {
  transform: rotateZ(0deg);
  transform-origin: 50%;
  opacity: 100%;
}
.menu-switcher.is-open .menu-switcher__icon--open {
  transform: rotateZ(90deg);
  opacity: 0;
}

.header__menu {
  z-index: 4;
}

.menu {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  gap: 90px;
}
@media screen and (max-width: 436px) {
  .menu {
    width: 100vw;
    padding-left: 307px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    transform: translateY(-101%);
    transition: transform var(--main-transition);
    overflow-y: scroll;
    flex-direction: column;
    background-color: var(--main-bg-color);
    position: absolute;
    top: 0;
    left: -287px;
    width: 200vw;
    height: 100vh;
    min-height: 100px;
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 48px;
  }
  .menu.is-open {
    opacity: 100%;
    transform: translateY(0);
  }
}
@media screen and (min-width: 437px) and (max-width: 767px) {
  .menu {
    padding-left: 327px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}

.navigation__item {
  position: relative;
  font-size: 40px;
  line-height: 1.175;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
@media screen and (max-width: 767px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.navigation__link {
  display: inline-block;
  transition: color var(--main-transition);
}
.navigation__link--active {
  color: var(--accent-color);
}
.navigation__link:hover {
  color: var(--accent-color);
}
.navigation__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation__link--active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.connect {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .connect {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    flex-direction: row-reverse;
    gap: 30px;
  }
}

.connect__item {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 1.1666666667;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 436px) {
  .connect__item {
    font-size: 5.5vw;
  }
}
@media screen and (max-width: 767px) {
  .connect__item:first-child {
    margin-bottom: 32px;
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.1764705882;
  }
}
@media screen and (max-width: 767px) and (max-width: 436px) {
  .connect__item:first-child {
    font-size: 7.8vw;
  }
}
@media screen and (min-width: 768px) {
  .connect__item {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .connect__item {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.connect__link {
  display: inline-block;
  transition: color var(--main-transition);
}
.connect__link:hover {
  color: var(--accent-color);
}
.connect__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .connect__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.connect__icon {
  display: none;
  vertical-align: text-bottom;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .connect__icon {
    display: unset;
  }
}

.menu__socials {
  margin-top: 64px;
  justify-content: flex-start;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu__socials {
    display: none;
  }
}
@media screen and (max-width: 436px) {
  .menu__socials {
    font-size: 4.1vw;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity var(--main-transition), visibility var(--main-transition);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: calc(100% - 30px);
  min-height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--main-transition);
  padding: 40px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
@media screen and (max-height: 608px) {
  .modal {
    top: 0;
    transform: translate(-50%, 0) scale(1);
  }
}

.modal__close-button {
  position: absolute;
  top: 14px;
  right: 14px;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  color: initial;
  fill: currentColor;
  transition: color var(--main-transition);
}
.close-button :focus {
  color: var(--accent-color);
}
.close-button :hover {
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
  height: 603px;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__columnset {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__columnset {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__columnset {
    text-align: start;
  }
}

.footer__column:nth-child(1) {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__column:nth-child(1) {
    width: 232px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__column:nth-child(1) {
    width: 231px;
    margin-right: 70px;
  }
}
.footer__column:nth-child(2) {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__column:nth-child(2) {
    margin-right: 93px;
  }
}
.address__item {
  transition: color var(--main-transition);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-secondary-color);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__item--color-white {
  color: var(--white-text-color);
}
.address__item:hover {
  color: var(--accent-color);
}
.address__item:focus {
  color: var(--accent-color);
}

.footer__title {
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--white-text-color);
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 570px;
  height: 50px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    gap: 12px;
  }
}

.footer__input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  background-color: transparent;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color var(--main-transition);
}
.footer__input:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.hero {
  padding-top: 118px;
  max-width: 480px;
  height: 400px;
  margin: auto;
  background-color: var(--hero-reserv-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mobile.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media (min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mobile@1.5x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mobile@1.5x.webp);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mobile@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mobile@2x.webp);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 2.6041666666666665), (min-resolution: 250dpi), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mobile@3x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mobile@3x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tablet.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 1.5), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 768px) and (min-resolution: 144dpi), screen and (min-width: 768px) and (min-resolution: 1.5dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tablet@1.5x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tablet@1.5x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tablet@2x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.6041666666666665), screen and (min-width: 768px) and (min-resolution: 250dpi), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tablet@3x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tablet@3x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-desktop.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 144dpi), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-desktop@1.5x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-desktop@1.5x.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-desktop@2x.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2.6041666666666665), screen and (min-width: 1200px) and (min-resolution: 250dpi), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-desktop@3x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-desktop@3x.webp);
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.6153846154;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 5.4vw;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6153846154;
    font-weight: 900;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
    font-weight: 900;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__button {
    width: 216px;
  }
}

.icon-card {
  flex-basis: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .icon-card {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .icon-card {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.icon-card__illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-card__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .icon-card__title {
    text-align: left;
  }
}

.icon-card__description {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.illustration-card {
  flex-basis: calc((100% - 60px) / 3);
}

.illustration-card__thumb {
  position: relative;
  width: 100%;
  height: 100%;
}

.illustration-card__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  text-align: center;
  background-color: var(--whatwedo-overlay-bg-color);
}

.illustration-card__title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.people-card {
  flex-basis: calc((100% - 0px) / 1);
  background-color: var(--card-bg-color);
  box-shadow: 0px 1px 3px hsla(0deg, 0%, 0%, 0.12), 0px 1px 1px hsla(0deg, 0%, 0%, 0.14), 0px 2px 1px hsla(0deg, 0%, 0%, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .people-card {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .people-card {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.people-card__text {
  padding: 30px;
}

.people-card__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
}

.people-card__description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}

.people-card__soc-list {
  justify-content: center;
}

.logo-card {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .logo-card {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .logo-card {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.logo-card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: border-color var(--main-transition), color var(--main-transition);
  border: 1px solid;
  border-color: var(--unactive-svg-color);
  border-radius: 4px;
  color: var(--unactive-svg-color);
  fill: currentColor;
}
.logo-card__link:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.logo-card__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.portfolio__filter {
  margin-bottom: 50px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .filter {
    justify-content: start;
    max-width: 350px;
  }
}

.filter__btn {
  min-width: 73px;
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--main-transition), color var(--main-transition), box-shadow var(--main-transition);
  background-color: var(--unactive-button-bg-color);
  color: var(--title-text-color);
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent;
}
.filter__btn:hover {
  background-color: var(--accent-color);
  color: var(--active-button-text-color);
  box-shadow: 0px 3px 1px hsla(0deg, 0%, 0%, 0.1), 0px 1px 2px hsla(0deg, 0%, 0%, 0.08), 0px 2px 2px hsla(0deg, 0%, 0%, 0.12);
}
.filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--active-button-text-color);
  box-shadow: 0px 3px 1px hsla(0deg, 0%, 0%, 0.1), 0px 1px 2px hsla(0deg, 0%, 0%, 0.08), 0px 2px 2px hsla(0deg, 0%, 0%, 0.12);
}

.product-card {
  flex-basis: calc((100% - 0px) / 1);
  background: var(--card-bg-color);
}
@media screen and (min-width: 768px) {
  .product-card {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .product-card {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.product-card__link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow var(--main-transition);
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent;
}
.product-card__link:hover {
  box-shadow: 0px 1px 1px hsla(0deg, 0%, 0%, 0.12), 0px 4px 4px hsla(0deg, 0%, 0%, 0.06), 1px 4px 6px hsla(0deg, 0%, 0%, 0.16);
}
.product-card__link:focus {
  box-shadow: 0px 1px 1px hsla(0deg, 0%, 0%, 0.12), 0px 4px 4px hsla(0deg, 0%, 0%, 0.06), 1px 4px 6px hsla(0deg, 0%, 0%, 0.16);
}

.product-card__thumb {
  position: relative;
  overflow: hidden;
}

.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform var(--main-transition);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-overlay-bg-color);
}
.product-card__link:hover .product-card__overlay {
  transform: translate(0);
}
.product-card__link:focus .product-card__overlay {
  transform: translate(0);
}

.product-card__story {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.product-card__text {
  padding: 20px 24px;
  border: solid;
  border-width: 0 1px 1px 1px;
  border-color: var(--portfolio-card-border-color);
}
@media screen and (min-width: 768px) {
  .product-card__text {
    height: calc(100% - 294px);
  }
}

.product-card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-card__description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */