.portfolio__filter {
  margin-bottom: 50px;
}

.filter {
  @include flex-centering();
  flex-wrap: wrap;
  gap: 8px;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    justify-content: start;
    max-width: 350px;
  }
}

.filter__btn {
  min-width: 73px;
  padding: 6px 22px;
  font-family: inherit;
  @include font(16px, 26px, 500);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--main-transition), color var(--main-transition),
    box-shadow var(--main-transition);
  background-color: var(--unactive-button-bg-color);
  color: var(--title-text-color);
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent;
  $shadow-1: hsla(0, 0%, 0%, 0.1);
  $shadow-2: hsla(0, 0%, 0%, 0.08);
  $shadow-3: hsla(0, 0%, 0%, 0.12);

  &:hover {
    background-color: var(--accent-color);
    color: var(--active-button-text-color);
    box-shadow: 0px 3px 1px $shadow-1, 0px 1px 2px $shadow-2, 0px 2px 2px $shadow-3;
  }
  &:focus {
    background-color: var(--accent-color);
    color: var(--active-button-text-color);
    box-shadow: 0px 3px 1px $shadow-1, 0px 1px 2px $shadow-2, 0px 2px 2px $shadow-3;
  }
}
