.button {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  font-family: inherit;
  @include font(16px, 30px, 700, 0.06em);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--main-transition);
  background-color: var(--accent-color);
  color: var(--active-button-text-color);
  box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  border-radius: 4px;

  &--icon-owner {
    @include flex-centering();
    gap: 10px;
  }

  &:hover {
    background-color: var(--main-btn-active-color);
  }
  &:focus {
    background-color: var(--main-btn-active-color);
  }
}

.button__icon {
  fill: var(--active-button-text-color);
}
