.form-item__name {
  display: block;
  margin-bottom: 4px;
  @include font(12px, 14px, null, 0.01em);

  user-select: none;
}

.form-item__wrap {
  display: block;
  position: relative;
}

.form-item__field {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 42px;
  @include font(12px, 14px, null, 0.01em);

  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--main-transition);

  &--type-textarea {
    resize: none;
    height: 120px;
    padding: 12px 16px;
  }
  &:focus {
    border-color: var(--accent-color);
  }
}

.form-item__icon {
  @include absolute-centering($left: 12px, $trX: 0);
  transition: fill var(--main-transition);
  .form-item__field:focus + & {
    fill: var(--accent-color);
  }
}
