.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  @include font(24px, 28px, 700);
  color: var(--accent-color);
  @include desktop {
    @include font(26px, 31px, 700);
  }
}

.logo__accent {
  &--color-dark {
    color: var(--main-black-color);
  }
  &--color-light {
    color: var(--white-text-color);
  }
}
