.socials {
  @include flex-centering();
  gap: 10px;
  @include font(18px, 22px, 500, 0.02em);
}

.socials__link {
  @include flex-centering();
  transition: color var(--main-transition), background-color var(--main-transition);
  background-color: transparent;
  fill: currentColor;

  .socials__item:not(:first-child) &--no-icon::before {
    content: '';
    width: 1px;
    height: 22px;
    background-color: var(--primary-text-color);
    margin-right: 10px;
  }

  &--icon-owner {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    &:hover {
      color: var(--active-button-text-color);
      background-color: var(--accent-color);
    }
    &:focus {
      color: var(--active-button-text-color);
      background-color: var(--accent-color);
    }
  }

  &--frame-none {
    color: var(--unactive-svg-color);
    background-color: transparent;
  }
  &--frame-grey {
    color: var(--white-text-color);
    background-color: var(--unactive-footer-svg-bg-color);
  }
}
