.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
  height: 603px;

  @include tablet {
    height: 463px;
  }
  @include desktop {
    height: 252px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__columnset {
  text-align: center;
  @include tablet {
    @include flex-centering($align-items: baseline);
    flex-wrap: wrap;
  }
  @include desktop {
    text-align: start;
  }
}

.footer__column {
  &:nth-child(1) {
    margin-bottom: 60px;
    @include tablet {
      width: 232px;
      margin-right: 165px;
    }
    @include desktop {
      width: 231px;
      margin-right: 70px;
    }
  }
  &:nth-child(2) {
    margin-bottom: 60px;
    @include tablet {
    }
    @include desktop {
      margin-right: 93px;
    }
  }
  &:nth-child(3) {
  }
}

.address {
}

.address__item {
  transition: color var(--main-transition);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-secondary-color);

  &:not(:last-child) {
    margin-bottom: 9px;
  }
  &--color-white {
    color: var(--white-text-color);
  }
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }
}

.footer__title {
  @include font(14px, 16px, 700);
  text-transform: uppercase;
  margin-bottom: 20px;
  user-select: none;
  color: var(--white-text-color);
}

.footer__form {
  @include flex-centering();
  flex-wrap: wrap;
  gap: 20px;
  max-width: 570px;
  height: 50px;
  @include desktop {
    gap: 12px;
  }
}

.footer__input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  @include font(16px, 20px, null);
  color: var(--white-text-color);
  background-color: transparent;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  $shadow: rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px $shadow);
  transition: border-color var(--main-transition);
  &:focus {
    border-color: var(--accent-color);
  }

  @include desktop {
    width: 358px;
  }
}
