.header {
  width: 100vw;
  border-bottom: solid 1px;
  background-color: var(--main-bg-color);
  border-color: var(--header-border-color);
}

.header__container {
  position: relative;
  @include tablet {
    display: flex;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.header__menu-switcher {
  z-index: 5;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-switcher {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: currentColor;
  cursor: pointer;
  transition: color var(--main-transition);
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }
  @include tablet {
    display: none;
  }
}

.menu-switcher__icon {
  transition: opacity 100ms 100ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &--close {
    transform: rotateZ(0deg);
    transform-origin: 50%;
    opacity: 0;
    .menu-switcher.is-open & {
      transform: rotateZ(90deg);
      opacity: 100%;
    }
  }
  &--open {
    transform: rotateZ(0deg);
    transform-origin: 50%;
    opacity: 100%;
    .menu-switcher.is-open & {
      transform: rotateZ(90deg);
      opacity: 0;
    }
  }
}

.header__menu {
  z-index: 4;
}

.menu {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  gap: 90px;
  @media screen and (max-width: 436px) {
    width: 100vw;
    padding-left: 307px;
  }
  @include before-tablet {
    transform: translateY(-101%);
    transition: transform var(--main-transition);
    &.is-open {
      opacity: 100%;
      transform: translateY(0);
    }
    overflow-y: scroll;
    flex-direction: column;
    background-color: var(--main-bg-color);
    position: absolute;
    top: 0;
    left: -287px;
    width: 200vw;
    height: 100vh;
    min-height: 100px;
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 48px;
  }
  @media screen and (min-width: 437px) and (max-width: 767px) {
    padding-left: 327px;
  }
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.navigation__list {
  @include tablet {
    @include flex-centering();
    gap: 50px;
  }
}

.navigation__item {
  position: relative;
  @include font(40px, 47px, 500, 0.02em);
  color: var(--title-text-color);

  @include before-tablet {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @include tablet {
    @include font(14px, 16px, null, null);
  }
}

.navigation__link {
  display: inline-block;
  transition: color var(--main-transition);
  &--active {
    color: var(--accent-color);
  }
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
    &--active::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      background: var(--accent-color);
      border-radius: 2px;
    }
  }
}

.connect {
  fill: currentColor;

  @include tablet {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  @include desktop {
    flex-direction: row-reverse;
    gap: 30px;
  }
}

.connect__item {
  color: var(--primary-text-color);
  @include font(24px, 28px, 500, 00.02em);

  @media screen and (max-width: 436px) {
    font-size: 5.5vw;
  }

  &:first-child {
    @include before-tablet {
      margin-bottom: 32px;
      color: var(--accent-color);
      @include font(34px, 40px, null, null);
      @media screen and (max-width: 436px) {
        font-size: 7.8vw;
      }
    }
  }
  @include tablet {
    @include font(12px, 14px, null, null);
  }
  @include desktop {
    @include font(14px, 16px, null, null);
  }
}

.connect__link {
  display: inline-block;
  transition: color var(--main-transition);
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }

  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.connect__icon {
  display: none;
  vertical-align: text-bottom;
  margin-right: 10px;

  @include tablet {
    display: unset;
  }
  &--shown-smartphone {
    @include before-desktop {
      width: 10px;
      height: 14px;
    }
  }
  &--shown-envelope {
    @include before-desktop {
      width: 14px;
      height: 10px;
    }
  }
}

.menu__socials {
  margin-top: 64px;
  justify-content: flex-start;
  color: var(--accent-color);

  @include tablet {
    display: none;
  }

  @media screen and (max-width: 436px) {
    font-size: 4.1vw;
  }
}
