.page-body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-body__main {
  padding-top: 60px;
  @include tablet {
    padding-top: 80px;
  }
}

.page-body__header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.page-body__hero-section {
  padding-top: 0;
  padding-bottom: 0;
}

.page-body__features-section {
}

.page-body__what-we-do-section {
  padding-top: 0;
  display: none;
  @include desktop {
    display: block;
  }
}

.page-body__team-section {
  background-color: var(--secondary-bg-color);
}

.page-body__backdrop {
  z-index: 3;
}

.section__title {
  margin-bottom: 30px;
  @include font(28px, 33px, null);
  text-align: center;

  @include desktop {
    margin-bottom: 50px;
    @include font(36px, 42px, null);
  }
}

.title {
  color: var(--title-text-color);
}
