.icon-card {
  @include column-qty(1);

  @include tablet {
    @include column-qty(2);
  }

  @include desktop {
    @include column-qty(4);
  }
}

.icon-card__illustration {
  @include flex-centering();
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-card__title {
  margin-bottom: 10px;
  @include font(14px, 16px, null);
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    text-align: left;
  }
}

.icon-card__description {
  @include font(14px, 24px, null);
}
