.people-card {
  @include column-qty(4);
  background-color: var(--card-bg-color);
  $shadow-1: hsla(0, 0%, 0%, 0.12);
  $shadow-2: hsla(0, 0%, 0%, 0.14);
  $shadow-3: hsla(0, 0%, 0%, 0.2);
  box-shadow: 0px 1px 3px $shadow-1, 0px 1px 1px $shadow-2, 0px 2px 1px $shadow-3;
  border-radius: 0px 0px 4px 4px;
}

.people-card__text {
  padding: 30px;
}

.people-card__title {
  margin-bottom: 10px;
  @include font(16px, 19/16, 500);
  text-align: center;
}

.people-card__description {
  margin-bottom: 16px;
  @include font(16px, 19/16, null);
  text-align: center;
}

.people-card__soc-list {
  justify-content: center;
}
