@mixin font($size, $height, $weight, $spacing: 0.03em) {
  font-size: $size;
  line-height: calc($height / $size);
  font-weight: $weight;
  letter-spacing: $spacing;
}

@mixin absolute-centering(
  $position: absolute,
  $top: 50%,
  $left: 50%,
  $trX: -50%,
  $trY: -50%,
  $scale: 1
) {
  position: $position;
  top: $top;
  left: $left;
  transform: translate($trX, $trY) scale($scale);
}

@mixin flex-centering($display: flex, $align-items: center, $justify-content: center) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin column-qty($count: 1, $gap-local: $gap) {
  flex-basis: calc((100% - ($gap-local * ($count - 1))) / $count);
}

@mixin mobile {
  @media screen and (min-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin before-tablet {
  @media screen and (max-width: calc($tablet-width - 1px)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin retina-1_5x {
  @media (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    @content;
  }
}

@mixin retina-2x {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @content;
  }
}

@mixin retina-3x {
  @media (min-device-pixel-ratio: 3), (min-resolution: 250dpi), (min-resolution: 3dppx) {
    @content;
  }
}
